[submodule "sidechains/TAPPGuild"]
	path = sidechains/TAPPGuild
	url = https://github.com/GitGuild/TAPPGuild.git
[submodule "sidechains/DashMNGuild"]
	path = sidechains/DashMNGuild
	url = https://github.com/GitGuild/DashMNGuild.git
